**/.git
**/.idea
**/.vs
**/.vscode
**/.github
**/art
**/scripts
**/.dockerignore
**/.pnpm-store
**/node_modules
**/mutation
**/storage
**/vendor
**/.env.*
**/.gitignore
**/.gitattributes
**/compose*.y*ml
**/lefthook.yml
**/LICENSE
**/Makefile
**/README.md
**/.editorconfig
**/.styleci.yml
**/.phpstorm.meta.php
**/.phpunit.result.cache
**/_ide*.php
