**/.idea
**/.vs
**/.vscode
**/.github
**/.hooks
**/art
**/docker
**/scripts
**/.dockerignore
**/node_modules
**/storage
**/vendor
**/.env
**/.gitignore
**/compose*.y*ml
**/LICENSE
**/Makefile
**/README.md
**/.editorconfig
**/.styleci.yml
**/.phpstorm.meta.php
**/.phpunit.result.cache
**/_ide*.php
