includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 5
    excludePaths:
        - ./app/Providers/MacroServiceProvider.php
        - ./app/Telegram/History/UserHistory.php
