includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 5
    noEnvCallsOutsideOfConfig: true
    checkModelAppends: true
    excludePaths:
        - ./app/Providers/MacroServiceProvider.php
        - ./app/Telegram/State/UserState.php
