includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 5
    noEnvCallsOutsideOfConfig: true
    checkModelAppends: true
    ignoreErrors: # https://github.com/larastan/larastan/issues/555#issuecomment-1013604870
            - '#PHPDoc tag @mixin contains unknown class App\\Models#'